body {
    font-family: "breakers", sans-serif;
    background-color: #2c2d36;
}

/*--HEADER---*/

header {
    background-color: #f5f8f8;
    border-bottom: 4px solid #d4e1e4;
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
}

#title-div h1 {
    letter-spacing: 2px;
    font-weight: 800;
    margin: -20px;
    color: #4b506b !important;
}

#title-div p {
    font-size: 15px;
    font-weight: 700;
}

#subtitle {
    display: flex;
    margin-left: 80px;
    color: #4b506b !important;
}


.headWordDiv {
    display: flex;
    flex-direction:row;

}

.headingProot {
    margin-right: 10px;
    font-weight: bold;
    
}


.headingProot, .headingPmeaning {
    align-self:baseline;
    font-size: 20px;
}

table {
    border-radius: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #f5f8f8;
    
}

h1, h2, h3, .headingProot, .headingPmeaning, p, a, li {
    color: #f5f8f8
}

a:hover {
    color: #dd6f2c
}

#inputSection, #intro {
    margin-left: 4em;
    margin-top: 3em;
    max-width: 80em;
}

.input-container {
    display: flex;
    flex-direction: row;
}

.input-container p {
    margin-right: 10px;
}

.input-container input {
    height: 20px;
    margin-top: 10px;
}

#button-div {
    margin-left: 11em;
}

#button-div input {
    margin-left: 2em;
    background-color: #CC005A;
    border-radius: 10px;
    padding: 10px;
    color: #f5f8f8;
}

#button-div input:hover {
    background-color: #570729;
}


#outputSection {
    margin-left: 4em;
}

/* PHONE */
@media only screen and (max-width: 480px) {
    p, li {
        font-size: 12px;
    }

    p {
        max-width:none;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 30px;
    }

    #title-div {
        display: flex;
        justify-content: center;
    }

    #button-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    #button-div , #clear-input, #submit{
        width: 100%;
        margin-top: 20px;
    }

    #inputSection {
        display: flex;
        flex-direction: column;
    }

    .input-container {
        display: flex;
        flex-direction: column;
    }
}