body {
    font-family: "breakers", sans-serif;
    background-color: #2c2d36;
}

/*--HEADER---*/

header {
    background-color: #f5f8f8;
    border-bottom: 4px solid #d4e1e4;
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
}

#title-div h1 {
    letter-spacing: 2px;
    font-weight: 800;
    margin: 10px 0px -20px 10px;
    color: #4b506b !important;
}

#title-div p {
    font-size: 15px;
    font-weight: 700;
}

#subtitle {
    display: flex;
    margin-left: 90px;
    color: #4b506b !important;
}


.headWordDiv {
    display: flex;
    flex-direction:row;

}

.headingProot {
    margin-right: 10px;
    font-weight: bold;
    
}


.headingProot, .headingPmeaning {
    align-self:baseline;
    font-size: 20px;
}

table, .inflection {
    border-radius: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #f5f8f8;
}

td {
    padding: 10px;
}



h1, h2, h3, h4, .headingProot, .headingPmeaning, p, a, li {
    color: #f5f8f8
}

a:hover {
    color: #dd6f2c
}

.inputSection, .intro {
    margin-left: 4em;
    margin-top: 3em;
}

h1, h2, h3, h4 {
    margin-left: 4em;
}

.intro, .inputSection p, #outputSectionAdjective p {
  max-width: 80em;  
}

.inputSection, .inputSection-container, #inputRootNoun {
    max-width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 20px;
}

.input-container p {
    margin-right: 10px;
}

.input-container input {
    height: 20px;
    margin-top: 10px;
}

 #inputRootNoun,
 #inputMeaningNoun,  #inputRootAdjective,
 #inputMeaningAdjective {
     display: flex;
     align-content: flex-start;
     justify-content: left;
 }

.button-div {
    margin-left: 11em;
}

.button-div input {
    margin-left: 2em;
    background-color: #CC005A;
    border-radius: 10px;
    padding: 10px;
    color: #f5f8f8;
    display: flex;
    flex-direction: column;
    margin-left: -120px;
}

 .clear-input,
 .submit {
     height: 60px;
     font-size: 30px;
     margin-top: 20px;
     width: 100%;
     
    
 }

.button-div input:hover {
    background-color: #570729;
}


#outputSectionNoun {
    margin-left: 4em;
}

 .scroll-container {
     height: 500px;
     overflow-y: scroll;
 }

 .scroll-container::-webkit-scrollbar {
     width: 12px;
 }

 .scroll-container::-webkit-scrollbar-track {
     background: #f1f1f1;
 }

 .scroll-container::-webkit-scrollbar-thumb {
     background: #888;
 }

 .scroll-container::-webkit-scrollbar-thumb:hover {
     background: #555;
 }

 .scroll-container::-webkit-scrollbar-button {
     display: none;
 }


#change-name {
    background-color: #CC005A;
    border-radius: 10px;
    padding: 6px;
    color: #f5f8f8;
}

#change-name:hover {
    background-color: #570729;
}

.inputOtherPartsOfSpeechSection {
    background-color: #535537;
    border: 1px solid black;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.this-pronoun, .also, .relative-pronoun, .adverbial-suffix, .relative-pronoun, .nominaliser-suffix, .firstPersonPronoun, .secondPersonPronoun, .adjective, .noun, .adjective1-copy, .adjective2-copy, .adjective3-copy, .adjective4-copy, #noun5-copy, #noun5Also, #adjective5Also, .adjective5-copy, #bahuvrihi, .noun5Also, #adjective1, #noun5AlsoNomSg, .copula-sg-non-past, .copula-pl-non-past, .sg-suffix, .pl-suffix, .here, .there, .that-pronoun, .here, .these-pronoun, .those-pronoun, .noun-acc-sg, .interrogative, .again, .time, .man, .place, .where, .when, .what, .who, .why, .how, .path, .origin, .non-past, .verb, .copy-verb, .first-person-prefix, .second-person-prefix, .plural-verb-suffix {
    font-style: italic;
}

#noun5, #adjective5, .hidden {
    display: none;
}

.noun-input-container {
    margin-left: -20px;;
}

.generate-button-div {
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

/* PHONE */
@media only screen and (max-width: 480px) {
    p, li {
        font-size: 20px;
    }

    p {
        max-width:none;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 30px;
    }

    #title-div {
        display: flex;
        justify-content: center;
        margin: 0;
        letter-spacing: 2px;
        font-weight: 800;
        color: #4b506b !important;
        }
    
        #title-div h1{
        text-align: center;
        margin: 0;
        margin-left: 40px;
    }
    
   
    .button-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 80px;
    }

    .button-div, .clear-input, .submit{
        width: 95%;
        margin-top: 20px;
       margin-left: 150px;
    }

    .clear-input, #submit {
        height: 90px;
        font-size: 40px;
        text-align: center;
    }

    .intro, .inputSection p {
        max-width: 400px;
        margin-left: 0px;
    }

    .inputSection h1 {
        margin-left: 0px;
    }

    .input-container {
        display: flex;
        flex-direction: column;
    }

    #inputRootNoun, #inputMeaningNoun {
        display: flex;
        align-content: flex-start;
        justify-content:left;
    }

    #outputSectionNoun {
        width: 100%;
    }

    #subtitle {
        display: none;
    }
}





