body {
    font-family: "breakers", sans-serif;
    background-color: #2c2d36;
    color: #f5f8f8;
}

/*--HEADER---*/

header {
    background-color: #f5f8f8;
    border-bottom: 4px solid #d4e1e4;
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
}

a {
    color: #f5f8f8;
}

#title-for-pdf {
    display: none;
}

#title-div h1 {
    letter-spacing: 2px;
    font-weight: 800;
    margin: 10px 0px -20px 10px;
    color: #4b506b !important;
}

#title-div p {
    font-size: 15px;
    font-weight: 700;
}

#subtitle {
    display: flex;
    margin-left: 90px;
    color: #4b506b !important;
}


.headWordDiv {
    display: flex;
    flex-direction:row;

}

.headingProot {
    margin-right: 10px;
    font-weight: bold;
    
}


.headingProot, .headingPmeaning {
    align-self:baseline;
    font-size: 20px;
}

.language-name {
    text-transform: capitalize;
}

table, .inflection {
    border-radius: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #f5f8f8;
}

td {
    padding: 10px;
}

.example-table {
    background-color: #2c2d36;
    border-style: none;
}

.example-table tr th {
    font-weight: bold;
}

section {
    margin: 0px 50px 0px 50px;
}

a:hover {
    color: #dd6f2c
}

.inputSection, .intro, .grammar, .dictionary {
    margin-left: 4em;
    margin-top: 3em;
}

h1, h2, h3, h4 {
    margin-left: 4em;
}

.intro, .inputSection p, #outputSectionAdjective p {
  max-width: 80em;  
}

.inputSection, .inputSection-container, #inputRootNoun {
    max-width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 20px;
}

.input-container p {
    margin-right: 10px;
}

.input-container input {
    height: 20px;
    margin-top: 10px;
}

 #inputRootNoun,
 #inputMeaningNoun,  #inputRootAdjective,
 #inputMeaningAdjective {
     display: flex;
     align-content: flex-start;
     justify-content: left;
 }

.button-div {
    margin-left: 11em;
}

.button-div input {
    margin-left: 2em;
    background-color: #CC005A;
    border-radius: 10px;
    padding: 10px;
    color: #f5f8f8;
    display: flex;
    flex-direction: column;
    margin-left: -120px;
}

 .clear-input,
 .submit {
     height: 60px;
     font-size: 30px;
     margin-top: 20px;
     width: 100%;
     
    
 }

.button-div input:hover {
    background-color: #570729;
}


#outputSectionNoun {
    margin-left: 4em;
}

 .scroll-container {
     height: 500px;
     overflow-y: scroll;
 }

 .scroll-container::-webkit-scrollbar {
     width: 12px;
 }

 .scroll-container::-webkit-scrollbar-track {
     background: #f1f1f1;
 }

 .scroll-container::-webkit-scrollbar-thumb {
     background: #888;
 }

 .scroll-container::-webkit-scrollbar-thumb:hover {
     background: #555;
 }

 .scroll-container::-webkit-scrollbar-button {
     display: none;
 }


#change-name {
    background-color: #CC005A;
    border-radius: 10px;
    padding: 6px;
    color: #f5f8f8;
}

#change-name:hover {
    background-color: #570729;
}

.inputOtherPartsOfSpeechSection {
    background-color: #535537;
    border: 1px solid black;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.this-pronoun, .also, .relative-pronoun, .adverbial-suffix, .relative-pronoun, .nominaliser-suffix, .firstPersonPronoun, .secondPersonPronoun, .adjective, .noun, #noun-copy5, #noun5Also, #adjective5Also, .adjective-copy5, #bahuvrihi, .noun5Also, #adjective1, #noun5AlsoNomSg, .copula-sg-non-past, .copula-pl-non-past, .sg-suffix, .pl-suffix, .here, .there, .that-pronoun, .here, .these-pronoun, .those-pronoun, .noun-acc-sg, .interrogative, .again, .time, .man, .place, .where, .when, .what, .who, .why, .how, .path, .origin, #non-past, .verb, .copy-verb, .first-person-prefix, .second-person-prefix, #plural-verb-suffix, .habitual-suffix, .transitive-verb, .intransitive-verb, .copy-transitive-verb, .copy-intransitive-verb, #word-final-devoicing-examplenoun, #word-final-devoicing-example-compound, .lower-high-vowel-example, .no-resonant-before-consonant-example, .no-resonant-before-consonant-compound, .no-resonant-before-consonant-example2, .lenite-plosive-before-other-plosive-example2, .lenite-plosive-before-other-plosive-example, .lenite-plosive-before-other-plosive-example-compound, .non-high-non-initial-example, .non-high-non-initial-example2, .non-high-non-initial-compound, .insert-i-before-nasal-example, .insert-i-before-nasal-example2, .insert-i-before-nasal-example-compound, .agglutinative-animate-affix, .anim-noun, .inan-noun, .agglutinative-inanimate-affix, .feminine-noun,
.masculine-noun, .masculine2-noun, .feminine2-noun, .neuter-noun, .inanimate2-noun, .human-noun, .animal-noun, .secondinanimate-noun, .masculine1-noun, .feminine1-noun, .profane-noun, .divine-noun, .active-noun, .passive-noun, .divine-noun, .profane-noun, .natural-noun, .artificial-noun, .anim-noun-copy, .inan-noun-copy,  .feminine1-noun-copy,
 .masculine1-noun-copy, .masculine2-noun-copy, .feminine2-noun-copy, .neuter-noun-copy, .secondinanimate-noun-copy, .human-noun-copy, .animal-noun-copy, .active-noun-copy, .passive-noun-copy, .natural-noun-copy, .artificial-noun-copy, .noun-copy, .profane-noun-copy, .divine-noun-copy, .mass-noun, .mass-noun-copy, .inan-mass-noun, .inan-mass-noun-copy, .few, .several, .a-lot-of, .barely-any, .some, .great-amount, .enough, .too-much, .not-enough, .long-and-slender, .long-and-slender-noun, .short-and-wide, .short-and-wide-noun, .round, .round-noun, .pointed, .pointed-noun, .flat, .flat-noun, .shapeless, .shapeless-noun, .shapeless-mass-noun, .man-noun, .woman-noun, .child-noun, .man, .woman, .child, .wild-animal-noun, .wild-animal, .meat, .meat-noun, .fur, .fur-noun, .labour, .labour-noun, .milk, .milk-noun, .inedible, .inedible-noun, .edible, .edible-noun, .human2, .human2-noun, .tree, .tree-noun, .grass, .grass-noun, .flower, .flower-noun, .land-animal, .land-animal-noun {
    font-style: italic;
}



.noun-input-container {
    margin-left: -20px;;
}

.generate-button-div {
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

#generate-language {
    background-color: #CC005A;
    color: white;
    font-size: 15px;
    height: 50px;
    width: 300px;
    border-radius: 40px;
}

#generate-language:hover {
    background-color: #600d31;
}

#generate-language:active {
    height: 45px;
    width: 295px;
}

#nasal-list,
#plosive-list,
#fricative-list,
#affricate-list,
#rhotic-list,
#lateral-list,
#approximant-list,
#high-vowel-list,
#high-mid-vowel-list,
#mid-vowel-list,
#low-mid-vowel-list,
#low-vowel-list,
#vowel-quantities,
#long-high-vowels,
#long-high-mid-vowels,
#long-mid-vowels,
#long-low-vowels,
#diphthong-p,
#affricative-list,
#a-syllable,
#f-syllable,
#r-syllable,
#n-syllable,
#h-syllable,
#syllable-example-list,
#grammar,
#dictionary,
#wordFinalDevoicing,
#lowersFinalHighVowels,
#resonant-metaphesis,
#resonant-assimilation,
#epenthetic-u,
#epenthetic-i,
#resonant-lost,
#noResonantsBeforeConsonants,
.resonant-lost-list,
.epenthetic-i-list,
.epenthetic-u-list,
.resonant-assimilation-list,
.resonant-metaphesis-list,
#LenitePlosivesBeforeOtherPlosives,
#lenition-to-voiced-fricative,
#nonHighNonInitialVowelsLowerToA,
#nasalsCantOccurAfterConsonants,
#agglutinative-gender1,
#agglutinative-gender2,
#agglutinative-gender3,
#agglutinative-gender4,
#agglutinative-gender5,
#agglutinative-gender6,
#agglutinative-gender7,
#singular-plural-marked-singular,
#no-gender-singular-plural,
#anim-inan-singular-plural,
#masc-fem-singular-plural,
#masc-fem-neut-singular-plural,
#human-animal-inan-singular-plural,
#divine-profane-singular-plural,
#active-passive-singular-plural,
#natural-artificial-singular-plural,
#singular-plural,
#singular-dual-plural,
#no-gender-singular-dual-plural,
#anim-inan-singular-dual-plural,
#masc-fem-singular-dual-plural,
#masc-fem-neut-singular-dual-plural,
#human-animal-inan-singular-dual-plural,
#divine-profane-singular-dual-plural,
#active-passive-singular-dual-plural,
#natural-artificial-singular-dual-plural,
#singular-dual-plural-collective-marked-singular,
#singular-dual-trial-plural,
#anim-inan-singular-dual-trial-plural,
#masc-fem-singular-dual-trial-plural,
#masc-fem-neut-singular-dual-trial-plural,
#human-animal-inan-singular-dual-trial-plural,
#divine-profane-singular-dual-trial-plural,
#active-passive-singular-dual-trial-plural,
#natural-artificial-singular-dual-trial-plural,
#no-gender-singulative-example,
#isolating-quanitifers-only, #isolating-quanitifers-and-classifiers,
#quantifier-few-example-head-first,
#few-translation-head-first,
#quantifier-few-example-head-final,
#few-translation-head-final, #classifier-table-1-headFirst, #classifier-table-1-headFinal, #shape-based-classifier-tables, #animacy-based-classifier-tables, #short-generic-based-classifier-tables {
    display: none;
}

#syllable-list {
    list-style-type: none;
}

/* PHONE */
@media only screen and (max-width: 480px) {
    p, li {
        font-size: 20px;
    }

    p {
        max-width:none;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 30px;
    }

    #title-div {
        display: flex;
        justify-content: center;
        margin: 0;
        letter-spacing: 2px;
        font-weight: 800;
        color: #4b506b !important;
        }
    
        #title-div h1{
        text-align: center;
        margin: 0;
        margin-left: 40px;
    }
    
   
    .button-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 80px;
    }

    .button-div, .clear-input, .submit{
        width: 95%;
        margin-top: 20px;
       margin-left: 150px;
    }

    .clear-input, #submit {
        height: 90px;
        font-size: 40px;
        text-align: center;
    }

    .intro, .inputSection p {
        max-width: 400px;
        margin-left: 0px;
    }

    .inputSection h1 {
        margin-left: 0px;
    }

    .input-container {
        display: flex;
        flex-direction: column;
    }

    #inputRootNoun, #inputMeaningNoun {
        display: flex;
        align-content: flex-start;
        justify-content:left;
    }

    #outputSectionNoun {
        width: 100%;
    }

    #subtitle {
        display: none;
    }
}


@page {
    size: A4 portrait;
    margin: 0;
}


@media print {

    .intro, header {
        display: none;
    }
    body {
        height: 29.7cm;
        width: 21cm;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: black;
        background-color: white;
    }
    #grammar {
        page-break-after: always;
    }
    #language-to-english {
        page-break-after: always;
    }
    #title-for-pdf {
        display: flex;
        flex-direction: column;
        align-content: start;
        text-align: center;
        page-break-after: always; 
    }
    #pdf2, #pdf4 {
        font-size: 10mm;
        font-weight: bold;
    }
    #pdf3 {
        font-style: italic;
    }
    #pdf4 {
        letter-spacing: 8px;
        text-transform: uppercase;
    }
    #pdf5 {
        font-size: 7mm;
    }
    #language-to-english, #english-to-language {
        column-count: 2;
    }

    .example-table {
        background-color: white;
        border-style: none;
    }
    

    
}